body {
    background-color: #80806b;
}

.nav-bar {
    display: flex;
    justify-content: left;
    height: 100px;
    margin: 20px;
}

.page-nav {
    display: flex;
    width: 50%;
    font-size: 20px;
    color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-nav a {
    text-decoration: none;
    color: rgb(225, 225, 194);
}

.socials {
    display: flex;
    justify-content: right;
    width: 50%;
}

.socials ul li {
    justify-content: left;
    list-style-type: none;
    display: inline-block;
}

.socials ul li img {
    justify-content: left;
    height: 25px;
    margin-left: 10px;
    background-color: var(--background);
}

.logo {
    width: 300px;
    margin-top: -50px;
}

.container {
    display: flex;
    justify-content: center;
}

.core {
    margin-top: 40px;
    background-color: rgb(215, 215, 209);
    margin-bottom: 40px;
    width: 1100px;
}

.about {
    justify-content: center;
}

.about div {
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
}

.about img {
    height: 200px;
    width: 200px;
    border: 5px solid white;
    display: inline-block;
    margin-left: 45px;
    margin-right: 45px;
}

.about p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(101, 101, 91);
    font-size: 20px;
    display: inline-block;
    width: 750px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.divider {
    justify-content: center;
    display: flex;
}

.divider-line {
    height: 2px;
    width: 65%;
    background-color: black;
    border-radius: 25px;
    margin-left: 45px;
    margin-right: 45px;
}

.work {
    display: flex;
    justify-content: center;
}

.header {
    justify-content: left;
    margin-left: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 30px;
    color: rgb(74, 74, 67);
}

.work-card {
    box-shadow: 10px 10px 10px grey;
    border: 2px solid rgb(202, 202, 195);
    border-radius: 5px;
    width: 40%;
    display: flex;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
}

.work-card img {
    height: 200px;
    width: 200px;
    margin: 5px;
    border: 5px solid white;
}

.card-body {
    margin: 10px;
}
.card-body h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer {
    color: rgb(225, 225, 194);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    bottom: 5px;
}










/* .line-1 {
    height: 20px;
    width: 75%;
    background-color: magenta;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 25px;
}

.line-2 {
    height: 400px;
    width: 20px;
    background-color: magenta;
    margin-top: -20px;
    margin-left: 40px;
    border-radius: 25px;
}

.line-3 {
    height: 20px;
    width: 75%;
    background-color: magenta;
    margin-top: 40px;
    margin-left: 40px;
    border-radius: 25px;
}

.line-4 {
    height: 400px;
    width: 20px;
    background-color: magenta;
    margin-top: -20px;
    margin-left: 40px;
    border-radius: 25px;
}


header h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(52, 51, 51);
    margin-bottom: 10px;
}

header h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    color: rgb(52, 51, 51);
    padding-bottom: 10px;
}

.menu {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #46b1c9;
}

.menu ul li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    display: inline-block;
    width: 150px;
    padding: 35px;
    margin-right: 50px;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: rgb(101, 101, 91);
}

.work_background {
    height: 290px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work {
    width: 850px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.work_box_img {
    height: 240px;
    width: 240px;
    border: 15px solid white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    display: inline-block;
    flex-direction: row;
    object-fit: cover;
}

.work-headers {
    color: rgb(101, 101, 91);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.work_mini_box {
    height: 240px;
    width: 240px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    object-fit: cover;
}

.work_mini_box_img {
    height: 118.5px;
    width: 240px;
    border: 10px solid white;
    display: inline-block;
    flex: 1 0 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.work_box_img:hover {
    height: 280x;
    width: 280px;
    border-color: black;
}

.work_mini_box_img:hover {
    height: 138.5px;
    width: 260px;
    margin-left: -10px;
    margin-right: 10px;
    margin-top: -10px;
    border-color: black;
    display: inline;
}

#work:hover {
    border-color: #9fb7b9;
}

.about {
    height: 275px;
    width: 100%;
    text-align: center;
    background-color: #9fb7b9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.about img {
    height: 200px;
    width: 200px;
    border: 10px solid white;
    display: inline-block;
    margin-top: 40px;
    margin-left: 15px;
    margin-right: 15px;
}

.about p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(101, 101, 91);
    font-size: 15px;
    list-style-type: none;
    display: inline-block;
    width: 500px;
    margin-top: 55px;
} */



/* Smaller Laptops and Tablets */
@media screen and (min-width: 391px) and (max-width: 778px) {
    .menu {
        height: 100px;
    }
    .work_background {
        height: 850px;
    }
    .about {
        height: 500px;
    }
}

@media screen and (min-width: 721px) and (max-width: 815px) {
    .work_background {
        height: 850px;
    }
}

@media screen and (min-width: 721px) and (max-width: 779px) {
    .about {
        height: 500px;
    }
    .about img {
        margin-left: 40px;
        margin-right: 40px;
    }
}

/* Duo */

@media screen and (min-width: 391px) and (max-width: 720px) {
    .menu {
        height: 200px;
    }
    .work_background {
        height: 1100px;
    }
}

/* Phones */
@media screen and (min-width: 1px) and (max-width: 535px) {
    .header_bar {
        height: 75px;
    }
    .menu {
        height: 300px;
    }
    .work_background {
        height: 1625px;
    }
    .about {
        height: 785px;
    }
    .about p {
        width: 259px;
    }
    .contact {
        height: 200px
    }
}